
@model MovieListObject


<h1 class="pageHeader"> Search By Name: </h1>



@using (Html.BeginForm("ViewMoviesByName", "MovieList", "Post"))
{

    <label asp-for="@Model.movies">Movies</label>
    <input type="text" name="name" class="form-control"/> 


    <input type="submit" value="Search" action="ViewMoviesByName" class="btn-primary movieListInput mt-3" />

}




@if (Model.movies != null)
{
    <div class="text-center">
        <div class="flex-sm-row">
           
        </div>
    </div>
}




